{% extends 'main/layout.html' %}

{% block content %}
    <div class="section">
        {% if messages %}
            <p class="alert">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </p>
        {% endif %}

        <div class="section-title">About</div>

        <div class="section-label">What is this?</div>
        <div class="section-body">
            This is a place for people with common interests to meet IRL.
        </div>

        <div class="section-label">Really though?</div>
        <div class="section-body">
            It's a meetup.com clone in the spirit of HN. Crazy fast and ridiculously minimal.
        </div>

        <div class="section-label">Why?</div>
        <div class="section-body">
            Because meetup.com is slow, has a new design I dislike and does not send emails consistently.
        </div>

        <div class="section-label">This looks just like HN!</div>
        <div class="section-body">
            <a href="https://i.imgur.com/D7gxsqT.gif">Indeed</a>.
        </div>

        <div class="section-label">Pricing</div>
        <div class="section-body">
            For the time being the service is free of charge.
        </div>

    </div>
{% endblock %}
