{% extends 'main/layout.html' %}

{% block title %}About Open Cult{% endblock %}

{% block content %}
    <div class="section">
        <div class="section-title">About</div>

        <div class="section-label">What is this?</div>
        <div class="section-body">
            Open Cult is a place for people with common interests to meet IRL.
        </div>

        <div class="section-label">Really though?</div>
        <div class="section-body">
            It's a meetup.com clone in the spirit of HN. Crazy fast and ridiculously minimal.
        </div>

        <div class="section-label">Why?</div>
        <div class="section-body">
            Because meetup.com is slow, has a new dislikable design and does not send emails consistently.
        </div>

        <div class="section-label">Pricing</div>
        <div class="section-body">
            For the time being the service is free of charge.
        </div>

        <div class="section-label">Source</div>
        <div class="section-body">
            Open Cult is open source. You can find the source code repository
            <a href="https://github.com/sirodoht/opencult.com">on GitHub</a>.
        </div>
    </div>
{% endblock %}
