{% extends 'main/layout.html' %}

{% block title %}About Open Cult{% endblock %}

{% block content %}
<section>
    <h1>About</h1>

    <div class="section-label">What is this?</div>
    <div class="section-body">
        Open Cult is a ridiculously minimal event system for groups.
    </div>

    <div class="section-label">Pricing</div>
    <div class="section-body">
        For the time being the service is free of charge.
    </div>

    <div class="section-label">Source</div>
    <div class="section-body">
        Open Cult is <a href="https://github.com/sirodoht/opencult.com">open source</a>.
        Feel free to <a href="https://github.com/sirodoht/opencult.com/issues">contribute</a>.
    </div>
</section>
{% endblock %}
