{% extends 'main/layout.html' %}

{% block content %}
    <div class="section">
        {% if messages %}
            <p class="alert">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </p>
        {% endif %}

        <div class="section-title">{{ cult.name }}</div>

        <div class="section-label">Doctrine</div>
        <div class="section-body">
            {{ cult.doctrine }}
        </div>

        <div class="section-label">Location</div>
        <div class="section-body">
            {{ cult.city }}{% if cult.country %}, {{ cult.country}}{% endif %}
        </div>

        <div class="section-label">Members</div>
        <div class="section-body">{{ cult.members_count }}</div>

        <div class="section-label">Leaders</div>
        <div class="section-body">
            {% for person in cult.leaders_list %}
                <a href="#">{{ person.username }}</a><br>
            {% endfor %}
        </div>

        <div class="section-label">Role</div>
        <div class="section-body">{{ membership.get_role_display|default:"Non-member" }}</div>

        <div class="section-label">Past events</div>
        {% for event in events_list %}
            <div class="section-event">
                <div class="item-event-title">
                    {% if event.cult.country %}
                        {{ event.cult.country }} >
                    {% endif %}
                    <a href="#">{{ event.cult.city }}</a> >
                    <a href="#">{{ event.cult.name }}</a> >
                    <a href="#">{{ event.title }}</a></div>
                <div class="item-event-subtext">
                    <a href="#" class="item-event-subtext-link">{{ event.date }}</a>
                    | {{ event.venue }} -
                    <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.address }}</a>
                    | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
                </div>
            </div>
        {% endfor %}

        <div class="section-label">Members</div>
        {% for member in cult.members_list %}
            <div class="section-body">
                <a href="#">{{ member.username }}</a><br>
            </div>
        {% endfor %}

    </div>
{% endblock %}
