{% extends 'main/layout.html' %}

{% block title %}Email all {{ cult.name }} members - Open Cult{% endblock %}

{% block content %}
    <div class="section">
        <div class="section-title">Email all <a href="{% url 'main:cult' cult.slug %}">{{ cult.name }}</a> members</div>

        <form action="{% url 'main:cult_announcement' cult.slug %}" method="post">
            {{ form.non_field_errors }}

            <label for="id_message" class="section-label">Message:</label>
            {% if form.message.errors %}
                {% for error in form.message.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <textarea name="message" rows="6" required id="id_message"></textarea>

            {% csrf_token %}

            <input type="submit" value="blast all {{ cult.members_list.count }} members">
        </form>

    </div>
{% endblock %}
