{% extends 'main/layout.html' %}

{% block title %}Edit {{ cult.name }} - Open Cult{% endblock %}

{% block content %}
    <div class="section">
        <div class="section-title">Edit <a href="{% url 'main:cult' cult.slug %}">{{ cult.name }}</a></div>

        <form action="{% url 'main:edit_cult' cult.slug %}" method="post">
            {{ form.non_field_errors }}

            <label for="id_name" class="section-label">Name</label>
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="name" value="{{ form.name.value }}" maxlength="100" required id="id_name">

            <label for="id_slug" class="section-label">Slug</label>
            {% if form.slug.errors %}
                {% for error in form.slug.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="slug" value="{{ form.slug.value }}" maxlength="100" required id="id_slug">

            <label for="id_doctrine" class="section-label">Doctrine</label>
            {% if form.doctrine.errors %}
                {% for error in form.doctrine.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <textarea name="doctrine" rows="6" id="id_doctrine">{{ form.doctrine.value }}</textarea>

            <label for="id_city" class="section-label">City</label>
            {% if form.city.errors %}
                {% for error in form.city.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="city" value="{{ form.city.value }}" maxlength="100" required id="id_city">

            {% csrf_token %}

            <input type="submit" value="update">
        </form>

    </div>
{% endblock %}
