{% extends 'main/layout.html' %}

{% block content %}
    <div class="section">
        {% if messages %}
            <p class="alert">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </p>
        {% endif %}

        <div class="section-title">
            {{ event.title }} &lt;
            <a href="{% url 'main:cult' event.cult.slug %}">{{ event.cult.name }}</a>
        </div>

        <div class="section-label">Details</div>
        <div class="section-body">
            {{ event.details }}
        </div>

        <div class="section-label">Date & Time</div>
        <div class="section-body">{{ event.date|date:"l, N j, Y" }} at {{ event.time|time:"H:i" }} local time.</div>

        <div class="section-label">Venue</div>
        <div class="section-body">
            {{ event.venue }},
            <a href="{{ event.maps_url }}">{{ event.address }}</a>
        </div>

        <div class="section-label" id="attendees">Attendees ({{ event.attendees_count }})</div>
        <div class="section-body">
            {% for person in event.attendees_list %}
                <a href="{% url 'main:profile' person.username %}">{{ person.username }}</a><br>
            {% endfor %}
        </div>

    </div>
{% endblock %}
