{% extends 'main/layout.html' %}

{% block title %}{{ event.title }} event - Open Cult{% endblock %}

{% block content %}
    <div class="section">
        <div class="section-title">
            {{ event.title }} &lt;
            <a href="{% url 'main:cult' event.cult.slug %}">{{ event.cult.name }}</a>
        </div>

        {% if event.details %}
            <div class="section-label">Details</div>
            <div class="section-body">
                {{ event.details|linebreaks }}
            </div>
        {% endif %}

        <div class="section-label">Date & Time</div>
        <div class="section-body">{{ event.date|date:"l, N j, Y" }} at {{ event.time|time:"H:i" }} local time.</div>

        {% if event.venue or event.address or event.maps_url %}
        <div class="section-label">Venue</div>
        <div class="section-body">
            {% if event.venue and event.address and event.maps_url %}
            {{ event.venue }} - <a href="{{ event.maps_url }}">{{ event.address }}</a>, {{ event.cult.city }}
            {% elif event.venue and event.address %}
            {{ event.venue }} - {{ event.address }}, {{ event.cult.city }}
            {% elif event.venue and event.maps_url %}
            <a href="{{ event.maps_url }}">{{ event.venue }}</a>, {{ event.cult.city }}
            {% elif event.address and event.maps_url %}
            <a href="{{ event.maps_url }}">{{ event.address }}</a>, {{ event.cult.city }}
            {% elif event.venue %}
            {{ event.venue }}, {{ event.cult.city }}
            {% elif event.address %}
            {{ event.address }}, {{ event.cult.city }}
            {% elif event.maps_url %}
            <a href="{{ event.maps_url }}">At this lat/long</a> in {{ event.cult.city }}
            {% endif %}
        </div>
        {% endif %}

        <div class="section-label" id="attendees">Comments ({{ event.comment_set.count }})</div>
        <div class="section-body">
            {% for comment in event.comment_set.all %}
                <a href="{% url 'main:profile' comment.author.username %}" class="section-body-comment"
                    title="Posted at {{ comment.date_posted }}">{{ comment.author.username }}</a>: {{ comment.body|linebreaksbr }}<br>
            {% empty %}
                No comments. Post one!
            {% endfor %}
            <form action="{% url 'main:comment' event.cult.slug event.slug %}" method="post">
                {{ form.non_field_errors }}
                {% if form.body.errors %}
                    {% for error in form.body.errors %}
                        <div class="form-error">{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}
                <textarea name="body" rows="6" required></textarea>
                {% csrf_token %}
                <input type="submit" value="post comment">
            </form>
        </div>

        <div class="section-label" id="attendees">Attendees ({{ event.attendees_count }})</div>
        <div class="section-body">
            {% for person in event.attendees_list %}
                <a href="{% url 'main:profile' person.username %}">{{ person.username }}</a><br>
            {% empty %}
                No one is attending yet.
            {% endfor %}
        </div>

    </div>
{% endblock %}
