{% extends 'main/layout.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<section>
    <h1>
        Group: {{ group.name }}
        {% if nav_show_join_group %}
            {% if request.user not in group.organizers_list or group.organizers_count != 1 %}
                {% if membership %}
                    <form action="{% url 'main:delete_membership' group.slug %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="submit" value="leave group">
                    </form>
                {% else %}
                    <form action="{% url 'main:membership' group.slug %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="submit" value="join">
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </h1>

    <div class="section-label">Upcoming events</div>
    {% for event in upcoming_events_list %}
    <div class="section-special">
        <div class="item-event-title">
            <a href="{% url 'main:event' event.group.slug event.slug %}">{{ event.title }}</a>
            {% if request.user in event.attendees_list %}<span class="rsvp">rsvp</span>{% endif %}
        </div>
        <div class="item-event-subtext">
            <a href="{% url 'main:event' event.group.slug event.slug %}" class="item-event-subtext-link">{{ event.date|date:"l, N j, Y" }} - {{ event.time|time:"H:i" }}</a>
            {% if event.venue or event.address or event.maps_url %}
            |
            {% if event.venue and event.address and event.maps_url %}
            {{ event.venue }} - <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.address }}</a>
            {% elif event.venue and event.address %}
            {{ event.venue }} - {{ event.address }}
            {% elif event.venue and event.maps_url %}
            <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.venue }}</a>
            {% elif event.address and event.maps_url %}
            <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.address }}</a>
            {% elif event.venue %}
            {{ event.venue }}
            {% elif event.address %}
            {{ event.address }}
            {% elif event.maps_url %}
            <a href="{{ event.maps_url }}" class="item-event-subtext-link">Maps</a>
            {% endif %}
            {% endif %}
            | <a href="{% url 'main:event' event.group.slug event.slug %}#attendees" class="item-event-subtext-link">{{ event.attendees_count }} attendee{{ event.attendees_count|pluralize }}</a>
        </div>
    </div>
    {% empty %}
    No upcoming events scheduled.
    {% endfor %}

    <div class="section-label">Description</div>
    <div class="section-body">
        {{ group.description }}
    </div>

    <div class="section-label">City</div>
    <div class="section-body">
        {{ group.city }}
    </div>

    <div class="section-label">Organizers</div>
    <div class="section-body">
        {% for person in group.organizers_list %}
            <a href="{% url 'main:profile' person.username %}">{{ person.username }}</a><br>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="section-label">Role</div>
        <div class="section-body">{{ membership.get_role_display|default:"Non-member" }}</div>
    {% endif %}

    <div class="section-label">Past events</div>
    {% for event in past_events_list %}
    <div class="section-event">
        <div class="item-event-title">
            <a href="{% url 'main:event' event.group.slug event.slug %}">{{ event.title }}</a></div>
        <div class="item-event-subtext">
            <a href="{% url 'main:event' event.group.slug event.slug %}" class="item-event-subtext-link">{{ event.date|date:"l, N j, Y" }} - {{ event.time|time:"H:i" }}</a>
            {% if event.venue or event.address or event.maps_url %}
            |
            {% if event.venue and event.address and event.maps_url %}
            {{ event.venue }} - <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.address }}</a>
            {% elif event.venue and event.address %}
            {{ event.venue }} - {{ event.address }}
            {% elif event.venue and event.maps_url %}
            <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.venue }}</a>
            {% elif event.address and event.maps_url %}
            <a href="{{ event.maps_url }}" class="item-event-subtext-link">{{ event.address }}</a>
            {% elif event.venue %}
            {{ event.venue }}
            {% elif event.address %}
            {{ event.address }}
            {% elif event.maps_url %}
            <a href="{{ event.maps_url }}" class="item-event-subtext-link">Maps</a>
            {% endif %}
            {% endif %}
            | <a href="{% url 'main:event' event.group.slug event.slug %}#attendees" class="item-event-subtext-link">{{ event.attendees_count }} attendee{{ event.attendees_count|pluralize }}</a>
        </div>
    </div>
    {% empty %}
    No events have taken place yet.
    {% endfor %}

    <div class="section-label">Members ({{ group.members_count }})</div>
    {% for member in group.members_list %}
    <div class="section-body">
        <a href="{% url 'main:profile' member.username %}">{{ member.username }}</a><br>
    </div>
    {% empty %}
    No one has joined yet.
    {% endfor %}
</section>
{% endblock %}
