{% extends 'main/layout.html' %}

{% block title %}Add group leader - Open Cult{% endblock %}

{% block content %}
    <div class="section">
        <div class="section-title">Add group leader</div>

        <form action="{% url 'main:group_leader' group.slug %}" method="post">
            {{ form.non_field_errors }}

            <label for="id_username">Username:</label>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="username" maxlength="150" required id="id_username">

            {% csrf_token %}

            <input type="submit" value="add">
        </form>

    </div>
{% endblock %}
