{% extends 'main/layout.html' %}

{% block content %}
    <div class="section">
        {% if messages %}
            <p class="alert">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </p>
        {% endif %}

        <div class="home-label">Attending</div>

        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Amsterdam > Adam Lispers > Lisp 4 ever</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komos Stras 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>

        <div class="home-label">January 28, 2018</div>

        <div class="home-event">
            <a href="#" class="item-event-title">Amsterdam > Adam Lispers > Lisp 4 ever</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komos Stras 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Amsterdam > Adam Lispers > Lisp 4 ever</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komos Stras 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>

        <div class="home-label">January 29, 2018</div>

        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>
        <div class="home-event">
            <a href="#" class="item-event-title">Greece > Thessaloniki > PyThess > Ethereum Contracts</a>
            <div class="item-event-subtext">
                <a href="#" class="item-event-subtext-link">Feb 6, 2017 - 18:00</a>
                | OK!Thess -
                <a href="#" class="item-event-subtext-link">Komotinis 2, 55337</a>
                | <a href="#attendees" class="item-event-subtext-link">22 attendees</a>
            </div>
        </div>

    </div>
{% endblock %}
