{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open Cult is a way for people with common passions to meet.">

    <title>{% block title %}Open Cult{% endblock %}</title>

    <!-- <link rel="stylesheet" href="{% static '/main/styles/main.css' %}"> -->
</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>
