{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open Cult is a way for people with common passions to meet.">

    <title>{% block title %}Open Cult{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/main/styles/main.css' %}">
</head>
<body class="{{ color_class }}">
    <header>
        <a href="{% url 'main:index' %}" class="header-brand">Open Cult</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'main:profile' request.user.username %}" class="header-user">{{ request.user.username }}</a>
        {% else %}
            <a href="{% url 'main:login' %}" class="header-user">login</a>
        {% endif %}
    </header>

    <nav class="{{ dark_color_class }}">
        <a href="{% url 'main:new_cult' %}">new cult</a>
        {% for cult in my_cults %}
            | <a href="{% url 'main:cult' cult.slug %}">{{ cult.name }}</a>
        {% endfor %}
        {% if cult and events_list %}
            {% if membership %}
                <form action="{% url 'main:delete_membership' cult.slug %}" method="post" class="inline">
                    {% csrf_token %}
                    | <input type="submit" value="un-join">
                </form>
            {% else %}
                <form action="{% url 'main:membership' cult.slug %}" method="post" class="inline">
                    {% csrf_token %}
                    | <input type="submit" value="join">
                </form>
            {% endif %}
        {% endif %}
        {% if cult and membership.role == 'leader' %}
            | <a href="{% url 'main:edit_cult' cult.slug %}">edit {{ cult.name }}</a>
            | <a href="{% url 'main:new_event' cult.slug %}">new event for {{ cult.name }}</a>
        {% endif %}
        {% if event and membership.role == 'leader' %}
            | <a href="{% url 'main:edit_event' event.cult.slug event.slug %}">edit {{ event.title }} event</a>
        {% endif %}
        {% if event and membership %}
            {% if attendance %}
                <form action="{% url 'main:delete_attendance' event.cult.slug event.slug %}" method="post" class="inline">
                    {% csrf_token %}
                    | <input type="submit" value="un-rsvp">
                </form>
            {% else %}
                <form action="{% url 'main:attendance' event.cult.slug event.slug %}" method="post" class="inline">
                    {% csrf_token %}
                    | <input type="submit" value="rsvp">
                </form>
            {% endif %}
        {% endif %}
        {% if '@' in request.path %}
            | <a href="{% url 'main:logout' %}">logout</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <a href="{% url 'main:about' %}">About</a>
        | <a href="#">API</a>
        | <a href="mailto:hi@opencult.com">Contact</a>
    </footer>
</body>
</html>
