{% extends 'main/layout.html' %}

{% block title %}Login - Open Cult{% endblock %}

{% block content %}
    <div class="section">
        {% if next %}
            {% if user.is_authenticated %}
                <p class="alert">
                    Your account doesn't have access to this page.
                    To proceed please login with an account that has access.
                </p>
            {% endif %}
        {% endif %}

        <div class="section-title">Login</div>

        <p>
            Enter your email and we'll send a session link to login in fashion with no useless passwords.
        </p>

        <p>
            You will stay logged in until you choose to log out.
        </p>

        <form action="{% url 'main:auth' %}" method="post">
            {{ form.non_field_errors }}

            <label for="id_email" class="section-label">Email</label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="email" name="email" maxlength="100" required id="id_email">

            {% csrf_token %}

            <input type="hidden" name="next" value="{{ next }}">

            <input type="submit" value="login">
        </form>

    </div>
{% endblock %}
